
.icon-icon_calendar-1:before { content: '\e800'; } /* '' */
.icon-icon_activity_stream:before { content: '\e801'; } /* '' */
.icon-icon_calendar:before { content: '\e802'; } /* '' */
.icon-icon_alert:before { content: '\e803'; } /* '' */
.icon-icon_need_review:before { content: '\e804'; } /* '' */
.icon-icon_new_notification:before { content: '\e805'; } /* '' */
.icon-icon_overview:before { content: '\e806'; } /* '' */
.icon-icon_profile:before { content: '\e807'; } /* '' */
.icon-icon_search:before { content: '\e808'; } /* '' */
.icon-icon_tool_tip:before { content: '\e809'; } /* '' */