@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Titillium+Web:300,300i,400,400i,600,600i,700,700i,900');
@import "node_modules/bootstrap/less/bootstrap";
// @import "./spark/spark";
@import "./../../../vendor/laravel/spark/resources/assets/less/spark";
// sweetAlert
@import (inline) "node_modules/sweetalert/dist/sweetalert.css";
// Datatables
@import (inline)  'resources/assets/css/buttons.dataTables.css';
@import (inline) 'resources/assets/css/jquery.dataTables.css';
@import "overrides";

// top nav
.navbar-inverse {
  background-color: #F9F9F9;
}

.with-navbar {
  padding-top: 75px;
}

.navbar-nav > li > a, .navbar-brand, .hamburger {
  height: 45px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #555;

  &:hover {
    color: #000;
  }
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #000;
}

.navbar-left {
  margin-left: 50px;
  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #FFF;
    background-color: #6FC4E8;
  }
}

.navbar-left > li > a {
  font-size: 14px;
  font-weight: bold;
  height: 32px;
  margin-top: 18px;
  text-decoration: none;

  &:hover, &:focus {
    border-bottom: 3px solid #fcdec7;
    height: 29px;
    margin-top: 21px;
  }

  &.current-section {
    border-bottom: 3px solid #f2782d;
    height: 29px;
    margin-top: 21px;
  }
}

.navbar-right {
  margin-right: 0;
}

.navbar-right > li > a {
  padding-left: 6px;
  padding-right: 6px;
}

.navbar-brand {
  padding-left: 45px;
  padding-right: 45px;
}

.spark-nav-profile-photo {
  height: 30px;
  width: 30px;
}

.panel-heading-button {
  float: right;
}

.panel {
  border-radius: none;
}

.panel-default > .panel-heading {
  background-color: #daf0fa;
}

.panel-calendar.panel-body {
  padding: 15px;
  padding-top:0;
}

.dropdown-menu > li > a {
  text-decoration: none;
}

// Tables


.dataTables_wrapper {
  border: 1px solid @gray-border;
  .dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_paginate, .dt-buttons{
    padding: 20px;
    font-size: 16px;
    color: #333;
  }

  input[type='search'] {
    font-size: 14px;
    line-height:1.2;
    padding: 0.3rem 0.6rem;
    height: 25px;
    border-radius: 4px;
    border-color: @gray-border;
    border-width: 1px;
    border-style: solid;
    font-weight: normal;
    background: url(../images/search-input-icon.png) no-repeat scroll 132px 6px;

  }
  .dataTable{
    font-size: 16px;
    border-bottom: 1px solid transparent !important;
    padding: 0 5px 0 5px;

    thead{
      background: @blue-panel;

      th{
        font-weight:600 !important;
        border-bottom: 1px solid @gray-border !important;
        border-top: 1px solid @gray-border !important;

      }
      td, th{
        border-bottom: 1px solid transparent !important;
        padding: 12px 10px;
      }
      .sorting_asc{
        background-image: url(../images/sort_asc_black.png);
      }
      .sorting_desc{
        background-image: url(../images/sort_desc_black.png);
      }
      .sorting {
        background-image: url(../images/sort_both_black.png);

      }
    }
    tbody{

      td{
        border-top: 1px solid @gray-border;
        padding: 12px 10px;

      }
      tr{

      }
    }

  }
}
// tables

table.dataTable {
  padding-top: 16px;
  margin-bottom: 24px !important;
}

table.dataTable, table.dataTable thead th {
  border-color: #bbb !important;
}

.dataTables_length select, .dataTables_filter input {
  .form-control;

}

.dataTables_length {
  select {
    border-radius: 4px;
    border-color: @gray-border;
    background-color: #FFFFFF;
    margin-left: 5px;
    width: 55px;
    height: 25px;
    display: inline;

  }
  label{
    font-weight: normal;
  }
}

.no-bullet {
  list-style: none;
}

.role-permissions {
  display: none;
}

.roles-list {
  margin: 10px;
  //padding: 10px;
  .roles-link {
    font-size: 1.3em;
    font-weight: bold;
    color: black;
    text-decoration: none;
  }
  .role-name {
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
  }
  .red {
    color: red;
  }
  .grey {
    color: grey;
  }
  .fa-plus,
  .fa-minus {
    margin-right: 10px;

  }

  .fa-trash {
    margin-left: 10px;
  }
}

.modal-dialog {
  .btn-file {
    position: relative;
    overflow: hidden;
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
  input[readonly] {
    background-color: white !important;
    cursor: text !important;
  }

}

//* home page styles *//
.dashboard {
  li {
    padding: 10px;
  }
  .dropdown-menu {
    li {
      padding: 0;
    }
  }
  article {
    a {
      margin-bottom: 20px;
      background-color: #fff;
      border: 1px solid transparent;
      border-radius: 4px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
      display: block;
      border: 1px solid #efefef;
      padding: 40px 20px 50px 20px;
      text-align: center;
      header {
        padding-bottom: 10px;
      }
      .content {
        color: #333;
        p {
          text-decoration: none;
        }

      }
    }
    a:hover p, a:active p, a:visited p {
      display: inline-block;
      text-decoration: none;
    }
  }
  .widget-calendar-key {
    padding-top: 12px;
  }
  span.alerts-widget-date {
    padding-right: 20px;
  }
  span.activity-widget-date {
    padding-right: 20px;
  }
  .needs-review-widget, .alerts-widget, .activity-widget {
    padding-left: 0;
    .icon-icon_new_notification {
      color: white;
      font-weight: bold;
      padding-left: 10px;
    }
    .icon-icon_new_notification:before {
      width: 2.4em;
      border-radius: 5px;
      background-color: @red-notification;
      color: white;
    }
    li {
      list-style-type: none;
      //padding-bottom: 5px;
      border-bottom: 1px solid #d6d6d6;
    }
  }
  .needsreview-widget-sort {
    display: inline-block;
    margin-left: 10px;
    .btn {
      text-transform: none;
    }
    .dropdown-menu > li > a {
      cursor: pointer;
      &:hover {

      }
    }
  }
}

.dashboard-body .col-md-12, .dashboard-body .col-md-6{
  padding-left: 0;

}
/*end Home Page styles */

/* Create Banner Styles- mm*/
.full-fixed-container-width {
  max-width: 1140px;
  min-width: 1109px !important;
  margin: 0 auto;
  //padding: 0 15px;
}

.create-banner-body {
  padding-top: 74px;
  padding-right: 0 !important;
  /*override body padding-bottom*/
  padding-bottom: 10px !important;
  & > #spark-app > .container {
    padding: 0 15px 0;
  }
  .panel {
    margin-bottom: 0;
    border-top: none;
  }
  .page-title {
    position:relative;
    //top: 20px;
    background-color: transparent;
    border: none;
    z-index: 999;

    .full-fixed-container-width();
    .panel-heading {
      padding: 10px;
      background-color: #daf0fa;
    }

  }

  h4 {
    padding-top: 30px;
  }
  /*Banner preview modal*/
  .banner-preview-modal {
    .modal-content {
      box-shadow: none;
      border: none;
      background: transparent;
      .banner-container, .banner-container-724, .banner-container-362 {
        margin: 0 auto;
      }
    }
    .modal-header {
      border-bottom: none;
      text-align: center;
      color: #FFF;
      .close {
        color: #FFF;
        opacity: 1;
        text-shadow: none;
      }
    }
    .modal-footer {
      border-top: none;
      text-align: center;
    }
  }
  .mobile-preview-styles {
    /*Stop iproducts from auto-resizing text*/
    * {
      -webkit-text-size-adjust: none;
      -ms-text-size-adjust: none;
      -webkit-font-smoothing: antialiased;
    }
    /*container width*/
    .banner-container {
      width: 320px !important;
    }
    .banner-container-724 {
      width: 362px !important;
    }
    .banner-container-362 {
      width: 362px !important;
    }
    .W300 {
      width: 300px !important;
    }
    .W310 {
      width: 310px !important;
    }
    .bannerStack {
      width: 100% !important;
      display: block !important;
    }
    .hide {
      display: none !important;
    }
    .textLalign {
      text-align: left !important;
    }
    .textLalign6633 {
      text-align: left !important;
      width: 310px !important;
    }
    .ctaHeight {
      height: 0px !important;
    }
  }
  #preview-modal-mobile {
    .mobile-preview-styles();
  }
  #previews {
    overflow: auto;
  }
  .modal-backdrop.in {
    opacity: .8;
  }

  /*Banner navigation column*/
  .banner-navigation.sidebar-nav-fixed {
    width: 11.5%;
    padding: 15px;
    //top: 345px;
    min-height: 270px;
    border-right: 1px solid #e7e7e7;
    /* Banner Navigation Tabs */
    ul.banner-nav-list {
      padding-left: 15px;
      margin-top: -12px;
      & li {
        list-style: none;
        width: 1px;
        position: relative;
        margin-bottom: 0;
        padding-bottom: 1.0em;

        /* Banner Navigation BORDERS AND BULLETS */
        &:after {
          /* bullets */
          position: absolute;
          left: -26px;
          top: 0px;
        }
        &:before {
          /* lines */
          content: "";
          position: absolute;
          left: -16px;
          height: 100%;
          width: 1px;
        }
        &:first-child:before {
          top: 6px;
        }
        &.lastNav:before {
          height: 6px;
        }
      }
    }
    .banner-nav-tab {
      a {
        color: #90847f;
        text-decoration: none;
      }
      font-size: 18px;
      font-weight: 300;
      display: inline;
      padding: 2px 6px;
      border: 1px solid transparent;
      border-radius: 5px;
      transition: opacity 500ms ease;
      &.active {
        background: #6fc4e8;
        color: #FFF;
        a {
          color: #FFF;
        }
      }
    }
  }

  /*static details and progress bar column*/
  .details-col.sidebar-nav-fixed {
    width: 29%;
    max-width: 340px;
    top: 324px;
    padding-top: 5px;
    //z-index: 1000;
    background: #FFF;
    .progress {
      margin-bottom: 14px;
      .progress-text {
        font-size: 11px;
        text-align: center;
        position: absolute;
        right: 15px;
        color: #666;
        padding-top: 2px;
      }
    }
    .static-details {
      word-wrap: break-word;
      span {
        padding-left: 10px;
      }
      strong {
        font-weight: 500;
      }
      .description-preview {
        max-height: 45px;
        max-width: 330px;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .segmentation-preview {
        max-width: 330px;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 90px;
      }
    }
  }

  .category-select {
    width: 450px;

    .search {
      width: 100% !important;
      border-bottom: none;
      border-radius: 0;
      height: 50px;
    }

    .category-options, .category-selections {
      clear: both;
      border: 1px solid #DDD;
    }

    .category-options {
      margin-bottom: 30px;
      max-height: 320px;
      overflow-y: scroll;

      //&::-webkit-scrollbar {
      //  -webkit-appearance: none;
      //  width: 7px;
      //}
      //
      //&::-webkit-scrollbar-thumb {
      //  border-radius: 4px;
      //  background-color: rgba(0,0,0,.5);
      //  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
      //}
    }

    .category-row, .program-row {
      &:hover {
        background-color: #B4E1F4;
      }
    }

    .category-row.selected {
      background-color: #6EC4E7;
      color: #fff;
      font-weight: bold;

      &:hover { background-color: #B4E1F4; }
    }

    .program-row, .category-row, .no-results {
      .clearfix();
      clear:both;
      border-bottom: 1px solid #DDD;
      padding: 16px 12px;
    }

    .category-row, .program-row {
      display: block;
      margin-bottom: 0;

      &:hover {
        cursor: pointer;
      }
    }

    .category {
      float: left;

      input {
        display: none;
      }

      i { margin-right: 6px; }
    }

    .program, .toggle {
      float: right;
      text-align: right;
    }

    .toggle { text-decoration: underline; }
  }

  /*form styles*/
  select, .banner-dates .input-group, .theme-selection {
    width: 50%;
  }

  .font-size-range-input {
    // height: 115px;
    input[type=range] {
      -webkit-appearance: none;
      // -webkit-transform: rotate(270deg);
      // margin-left: -25px;
      width: 110px;
      display: inline-block;
    }

    input[type=range]::-webkit-slider-runnable-track {
      width: 110px;
      height: 5px;
      background: #ddd;
      border: none;
      border-radius: 3px;
    }

    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: none;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background: #35B2E7;
      margin-top: -5px;
    }

    input[type=range]:focus {
      outline: none;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
      background: #EBEBEB;

    }

    input[type="text"] {
      width: 75px;
      display: inline-block;
      // margin-top: 35px;
    }

  }

  .fa-question-circle {
    padding-left: 5px;
  }
  .banner-dates {
    input {
      text-align: left;
    }
    .input-group-addon {
      border-width: 1px;
    }
  }
  .select-editable {
    position: relative;
    height: 36px;
    select {
      position: absolute;
      top: 0px;
      left: 0px;
      font-size: 14px;
      margin: 0;
    }
    input {
      position: absolute;
      width: 35%;
      height: 30px;
      border: none;
      top: 3px;
      left: 2px;
      box-shadow: none;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    select:focus, input:focus {
      outline: none;
    }
  }
  /*end of form styles*/
}

#banner-show {
  .preview-mobile {
    overflow: hidden;
  }

  .preview-panes {
    border-bottom: 1px solid @gray-border;
    background-color: white;
  }
  .preview-scale-titles-div {
    margin-top: 20px;
  }
  position: relative;

  form {
    //.make-md-column(5);
    .template-selection {
      .form-control {
        padding: 0;
      }
    }
    .form-control {

    }
  }

  #category {
    overflow: visible;
    z-index: 1;
    position: relative;
    background-color: #fff;
    .child-count {
      position: absolute;
      top: 6px;
      right: 5px;
    }

  }

  .upload-progress {
    width: 100%;
  }

  .previews-container {
    //.full-fixed-container-width();
    top: 50px;
    padding: 15px;
    background: #FFF;
    //min-height: 225px;
    //max-height: 240px;
    //.make-md-column(7);
    position: fixed;
    right: 0;
    z-index: 999;
    width: 100%;
    margin-left:10px;

    .preview-desktop-wrapper, .preview-mobile-wrapper {
      position: relative;
      min-height: 1px;
    }

    .preview-desktop-wrapper {
      width: auto;
      //margin-right: 30px;
    }

    .preview-mobile-wrapper {
      //width: 362px;
      //margin-left: 20%;
      margin-right: 20px;
      display: block;
    }

    .preview-desktop .banner-container {
      width: 600px !important;
      transform-origin: top left;
      transform-style: preserve-3D;
      overflow
      //max-height: 170px;
      img {
        //sizes to be dynamic later on
        max-height: 160px;
        max-width: 600px;
        width: auto;
      }
    }
    .preview-mobile .preview-container {
      display: block;
    }

    #preview-desktop {
      display: block;
    }

    .preview-mobile .banner-container {
      width: 320px !important;
      transform-origin: top left;
      transform-style: preserve-3D;
      //max-height: 170px;
      img {
        //sizes to be dynamic later on
        max-height: 160px;
        width: auto;
        max-width: 320px;
      }
    }

    .preview-desktop .banner-container-724 {
      //width: 724px !important;
      transform-origin: top left;
      transform-style: preserve-3D;
      //max-height: 170px;
      img {
        //sizes to be dynamic later on
        max-height: 160px;
        max-width: 724px;
        width: auto;
      }
    }

    .preview-mobile .banner-container-724 {
      transform-origin: top left;
      transform-style: preserve-3D;
      //max-height: 170px;
      img {
        //sizes to be dynamic later on
        max-height: 160px;
        width: auto;
        max-width: 362px;
      }
    }

    .preview-desktop .banner-container-362 {
        width: 362px !important;
        transform-origin: top left;
        transform-style: preserve-3D;
        //max-height: 170px;
        img {
          //sizes to be dynamic later on
          max-height: 160px;
          max-width: 362px;
          width: auto;
        }
      }

    .preview-mobile .banner-container-362 {
      width: 362px !important;
      transform-origin: top left;
      transform-style: preserve-3D;
      //max-height: 170px;
      img {
        //sizes to be dynamic later on
        max-height: 160px;
        width: auto;
        max-width: 362px;
      }
    }

    .preview-scale-titles {
      //top: 255px;
      background: #fff;
      font-size: 12px;
      line-height: 1.2;
      border: none;
      font-family: "Titillium Web", Helvetica, sans-serif;
      font-weight: normal;
      //border-bottom: 1px solid @gray-border;
      .preview-modal-link a {
        padding-right: 5px;
      }
    }

    .preview-container {
      max-height: 240px;
      overflow: hidden;
      * {
        -webkit-text-size-adjust: none;
        -ms-text-size-adjust: none;
        -webkit-font-smoothing: antialiased;
        padding: 0;
        margin: 0;
      }
      /*Stop iproducts from auto-resizing text*/
      table, td {
        border-collapse: collapse;
        mso-table-lspace: 0pt;
        mso-table-rspace: 0pt !important;
      }
      /* banner preview scaling */

    }

    // fake responsive mobile preview
    .preview-mobile .preview-container {
      * {
        -webkit-text-size-adjust: none;
        -ms-text-size-adjust: none;
        -webkit-font-smoothing: antialiased;
      }
      /*Stop iproducts from auto-resizing text*/
      .banner-container {
        width: 320px !important;
      }
      .banner-container-724 {
        width: 362px !important;
      }
      .banner-container-362 {
        width: 362px !important;
      }
      /*container width*/
      .W300 {
        width: 300px !important;
      }
      .W310 {
        width: 310px !important;
      }
      .hide {
        display: none !important;
      }
      .textLalign {
        text-align: left !important;
      }
      .textLalign6633 {
        text-align: left !important;
        width: 310px !important;
      }
      .ctaHeight {
        height: 0px !important;
      }

    }
  }

  #review-buttons {
    padding-top: 12px;
  }
}

.banner-buttons button {
  margin-right: 20px;
}

/*End of Create Banner Styles */

// app libraries
@import "../../../node_modules/bootstrap-datepicker/less/datepicker3";

//@import (inline) 'resources/assets/css/swalExtend.css';

//jstree
@import (inline) 'resources/assets/css/jstree/themes/default/style.css';

//jquery-miller-columns
@import (inline) 'resources/assets/css/miller-columns/miller_columns.css';

//bootstrap select
@import "node_modules/bootstrap-select/less/bootstrap-select";

//fullcalendar
@import (inline) 'node_modules/fullcalendar/dist/fullcalendar.css';

body .fc {
  font-size: 16px;
}

.fc-toolbar h2 {
  margin-top: 10px;
  font-size: 16px;
  font-family: "Titillium Web", Helvetica, sans-serif;
  line-height: 1;

}

.fc-day-grid-event .fc-content {
  padding: 3px;
}

//fontAwesome icons
@import "node_modules/font-awesome/less/variables.less";
@import "node_modules/font-awesome/less/mixins.less";
@import "node_modules/font-awesome/less/path.less";
@import "node_modules/font-awesome/less/core.less";
@import "node_modules/font-awesome/less/icons.less";

//bootstrap-file-input
@import (inline) 'resources/assets/css/fileinput.min.css';

// select2
@import (inline) 'node_modules/select2/dist/css/select2.css';

// fontello
@import (inline) 'resources/assets/css/fontello.css';

// sweetAlert
// @import "node_modules/sweetalert/dist/sweetalert.css";

/*select 2 dropdown*/
.select2-selection.select2-selection--single {
  height: 38px;
  border: 1px solid @gray-border;
}

.select2-container--default .select2-selection--single {
  height: 38px;
  border: 1px solid @gray-border;
}

.select2-selection__rendered {
  line-height: 2.2 !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #6FC4E8;
  color: white;
}

.select2-selection__arrow {
  top: 5px !important;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  font-weight: 300;
  font-size: 14px;
  text-transform: none;
}

.bootstrap-select.btn-group .dropdown-menu li a:hover {
  background: #6FC4E8;
}

//drag and drop upload plugin styles
.kv-caption-icon {
  display: none;
}

.file-input {
  width: 50%;
  .file-preview-frame, .file-preview-image, .file-preview-other .kv-file-content img {
    height: 50px !important;
    width: auto !important;
    max-width: 100% !important;

  }
  .file-drop-zone-title {
    color: #aaa;
    font-size: 14px;
    padding: 25px;
  }
}

.box {
  font-size: 1.25rem;
  background-color: #ffffff;
  position: relative;
  padding: 30px 20px;
}

.box.has-advanced-upload {
  outline: 1px dashed @gray-border;
  outline-offset: -4px;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  width: 350px;
  // height: 230px;
  text-align: center;
  color: #666666;
}

.box.is-dragover {
  outline-offset: -20px;
  outline-color: #c8dadf;
  background-color: #fff;
}

.box__dragndrop,
.box__icon {
  display: none;
}

.box.has-advanced-upload .box__dragndrop {
  display: inline;
}

.box.has-advanced-upload .box__icon {
  width: 100%;
  height: 80px;
  fill: #92b0b3;
  display: block;
  margin-bottom: 40px;
}

.box.is-uploading .box__input,
.box.is-success .box__input,
.box.is-error .box__input {
  visibility: hidden;
}

.box__uploading,
.box__success,
.box__error {
  display: none;
}

.box.is-uploading .box__uploading,
.box.is-success .box__success,
.box.is-error .box__error {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;

  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.box__uploading {
  font-style: italic;
}

.box__success {
  -webkit-animation: appear-from-inside .25s ease-in-out;
  animation: appear-from-inside .25s ease-in-out;
}

@-webkit-keyframes appear-from-inside {
  from {
    -webkit-transform: translateY(-50%) scale(0);
  }
  75% {
    -webkit-transform: translateY(-50%) scale(1.1);
  }
  to {
    -webkit-transform: translateY(-50%) scale(1);
  }
}

@keyframes appear-from-inside {
  from {
    transform: translateY(-50%) scale(0);
  }
  75% {
    transform: translateY(-50%) scale(1.1);
  }
  to {
    transform: translateY(-50%) scale(1);
  }
}

.box__restart {
  font-weight: 700;
}

.box__restart:focus,
.box__restart:hover {
  color: #39bfd3;
}

.box__file {
  font-size: 16px;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 200px;

}

.box__file + label {
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  font-weight: normal;
  font-size: 16px;

}

.box__file + label:hover strong,
.box__file:focus + label strong,
.box__file.has-focus + label strong {
  color: #39bfd3;
}

.box__file:focus + label,
.box__file.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.box__file + label * {
  /* pointer-events: none; */ /* in case of FastClick lib use */
}

//Miller columns overrides
.miller--placeholder__background {
  background: #FFF;
}

.terms li {
  font-size: 16px;
}

.terms li > a {
  padding: 15px 3px;
  color: #333;
}

.term.active li > a {
  color: #FFF;
}

/* Admin */
#active_date_offer {
  margin-left: 12px;
}

/*media queries*/
//@media only screen and (max-width: 1140px) {
//  .nav-steps, .details-col {
//    display: none;
//  }
//}

/* No greater than 900px, no less than 400px */
@media (max-width:1141px) and (min-width:768px) {
  .details-col {
    position: absolute;
    width: 250px !important;
    font-size: .85em;
  }
}

.create-banner-body .preview-mobile .bannerStack{
  width: 100% !important;
  display: block !important;
}

.banner-static-blade {
  .overlay {
    display:none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 999;
    top: 0;
    left: 0;
  }
  .copied {
    display:none;
    font-size: 4em;
    color: white;
    width: 1000px;
    margin-left: 25%;
  }
  .banner-activity-widget {
    margin-top:-100px;
    .banner-activity-list{
      max-height:500px;
      overflow: auto;
      a {
        text-decoration: none;
        font-size: 0.98em;
        color: black;
        word-break: normal;
        white-space: pre-line;
      }
      .banner-activity-time {
        font-size: 0.8em;
      }
      ul {
        padding: 0;
        li {
          position: relative;
          padding-bottom: 20px;
          list-style-position: inside;
          text-indent: -1.5em;
          padding-left: 1.5em;
        }
        li:hover {
          background-color: #faf9dc;
        }
        li:before {
          content: '\25CF';
          margin-right: 10px;
          font-size: 20px;
        }
        li:after {
          position: absolute;
          left: 0;
          top: 0;
          content: '';
          border-left: 2px solid black;
          margin-left: 5px;
          height: 100%;
        }
      }
      .activity-share-link {
        display:none;
        text-decoration: underline;
        color: #F47A20;
        margin-left: 0.7em;
        cursor: hand;
      }
    }
  }
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.resource-search {
  position: relative;

  input {
    width: 100%;
    height: 38px;
    border-radius: 0;
  }

  .resource-search-reset {
    position: absolute;
    top: 6px;
    right: 5px;
    color: #aaa;

    &:hover { cursor: pointer; }
  }

  .resource-search-results {
    position: absolute;
    z-index: 100;
    width: 100%;
    background-color: #fff;
    border: 1px solid #DDD;
    max-height: 400px;
    overflow-y: scroll;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  }

  .resource-search-selections { margin-top: 10px; }

  .resource-search-result, .resource-search-no-results {
    .clearfix();
    clear: both;
    display: block;
    border-bottom: 1px solid #DDD;
    padding: 8px;
    margin-bottom: 0;
    color: #333;
    text-decoration: none;

    input { display: none; }
    i { margin-right: 6px; }
  }

  .resource-search-result:hover {
    cursor: pointer;
    background-color: #6FC4E8;
    color: #fff;
  }

  .resource-search-result.selected {
    background-color: #6EC4E7;
    color: #fff;
    font-weight: bold;

    &:hover { background-color: #B4E1F4; }
  }

  .resource-search-no-results { display: none; }
  .resource-search-no-results:only-child { display: block; }
}

#report-show {
  #buttons {
    display: inline-block;
    overflow: hidden;

    #submit, #reset {
      float: right;
    }

    #reset { margin-right: 12px; }
  }
}

#report-results-modal {
  .modal-subtitle { margin-bottom: 0; }

  #report-results {
    table { width: 100% !important; }

    .dataTables_wrapper { border: none; }

    .dt-buttons {
      float: none;
      text-align: center;
    }
  }
}
