<table class="banner-html banner-container-362 count100P padding-top-15 helvetica-neue" align="left" cellpadding="0" cellspacing="0" border="0" width="362" height="220" bgcolor="#ffffff" style="background-color: #ffffff;">
    <!--<tbody style="display:block; height:220px; overflow: hidden">-->
    <tr>
        <td valign="middle" align="left" valign="top" height="220" style="border:solid 2px #E8E8E8; overflow: hidden; max-height: 220px">
            <a href="{{ fields.url }}" alias="" title="Special Financing Available | Learn More" target="_blank" style="text-decoration:none; color:#000000;">
                <table cellpadding="0" cellspacing="0" border="0" width="351" align="center" class="count100P">
                    <tr>
                        <td bgcolor="#ffffff" height="30" style="line-height:30px; font-size:30px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td width="20"></td>
                                    <td valign="top"><img src="http://image.homedepotemail.com/lib/fe6f1570776507787615/m/2/POMS-597-00.jpg" style="display:block;"></td>
                                    <td width="20"></td>
                                    <td style="color:#000000;">
                                        <!-- Headline -->
                                        <span style="font-size:{{ fields.headline_font_size }}px;line-height:{{ fields.headline_font_size }}px;">{{ fields.headline }}</span> <br>

                                        <!-- Body -->
                                        <span style="color:#FB8631; font-size: {{ fields.body_font_size }}px; display: block;  line-height:{{ fields.body_font_size }}px;">{{ fields.body }}</span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" height="30" style="line-height:30px; font-size:30px;">&nbsp;</td>
                    </tr>
                </table>
            </a>
        </td>
    </tr>
<!--</tbody>-->
</table>
